<div id="welcome" class="container">
  <div id="welcome_content">
    <h1>Welcome</h1>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "facebook_login" %>
  </div>
</div>