#users {
  margin-top: 90px;
  
  .user {
    padding: 10px;
    
    &.my-vote {
      background-color: #D5F0EB;
    }

    img.user_image {
      float: left;
      margin-right: 10px;
    }

    .user_name {
      font-weight: bold;
    }

    .votes_count {
      color: $primary-color;
      margin: 0 1em;
    }
      
    .votes {
      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}